.comments {
    padding: 16px 8px 16px 0;
    min-height: 156px;
    .top {
        display: flex;
        align-items: center;
        .sort {
            display: flex;
            margin-left: 32px;
            text-transform: uppercase;
            color: $lightgrey;
            align-items: center;
            i {
                margin-right: 8px;
            }
        }
    }
    .create {
        display: flex;
        margin-top: 24px;
        input {
            flex: 1;
            border: none;
            border-bottom: solid 1px $whitesmoke;
        }
    }
    .list {
        margin-top: 24px;
        .comment {
            display: flex;
            margin-bottom: 32px;
            .stats {
                flex: 1;
                section {
                    display: flex;
                    h3 {
                        font-weight: bold;
                        margin: 0 8px 8px 0;
                        display: inline-block;
                    }
                    span {
                        color: $lightgrey;
                    }
                }
                ul {
                    display: flex;
                    margin-top: 8px;
                    align-items: center;
                    color: $lightgrey;
                    li {
                        margin-right: 16px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    span {
                        display: flex;
                        align-items: center;
                        text-transform: uppercase;
                        i {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
}
