.details {
    padding: 16px 0;
    border-bottom: solid 1px $whitesmoke;
    .stats {
        margin-top: 16px;
        color: $lightgrey;
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            li {
                margin-right: 16px;
                &:last-child {
                    margin-right: 0;
                }
            }
            span {
                display: flex;
                align-items: center;
                text-transform: uppercase;
                i {
                    margin-right: 8px;
                }
            }
        }
    }
}

.info {
    padding: 16px 0;
    border-bottom: solid 1px $whitesmoke;
    display: flex;
    height: 160px;
    img {
        height: 48px;
        border-radius: 50%;
    }
    .data {
        margin-left: 16px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
            font-weight: bold;
        }
        span {
            color: $lightgrey;
        }
        .more {
            color: $lightgrey;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .right {
        height: 36px;
        display: flex;
        align-items: center;
        color: $lightgrey;
        button {
            height: 100%;
            margin-right: 16px;
            padding: 0 16px;
            color: $lightgrey;
            text-transform: uppercase;
            background: $whitesmoke;
            border: solid 1px $whitesmoke;
            border-radius: 2px;
        }
    }
}