nav {
    height: $toolbar-height;
    background: $white;
    box-shadow: 2px -2px 4px 1px $lightgrey;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding: 16px 32px;
    color: $lightgrey;
    top: 0;
    left: 0;
    .menu {
        &:hover {
            cursor: pointer;
        }
    }
    .logo {
        height: 24px;
        margin-left: 16px;
    }
    .form-group {
        display: flex;
        border: solid 1px $lightgrey;
        border-radius: 2px;
        input {
            min-width: 500px;
            padding: 8px;
            border: none;
            margin: 4px;
        }
        span {
            background: $whitesmoke;
            border-left: solid 1px $lightgrey;
            padding: 3px 16px;
            overflow: hidden;
        }
    }
    .tools {
        display: flex;
        li {
            margin-right: 24px;
        }
    }
}
