
.sidebar {
    width: 360px;
    margin-left: 24px;
    .play {
        display: flex;
        justify-content: space-between;
        section {
            display: flex;
            align-items: center;
            .ap {
                text-transform: uppercase;
                color: $lightgrey;
            }
            .toggle {
                margin-left: 16px;
                background: $whitesmoke;
                border-radius: 8px;
                width: 36px;
                height: 16px;
                position: relative;
                .circle {
                    position: absolute;
                    top: -4px;
                    right: -8px;
                    height: 25px;
                    width: 25px;
                    background-color: $blue;
                    border-radius: 50%;
                    display: inline-block;
                    box-shadow: 2px 2px 12px 0px $lightgrey;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .next {
        display: flex; 
        margin-top: 16px;
        border-bottom: solid 1px $whitesmoke;
        padding-bottom: 16px;
        .preview {
            position: relative;
            height: 126px;
            flex: 1;
            min-width: 128px;
            margin-right: 8px;
            img {
                height: 100%;
                width: 100%;
            }
            span {
                position: absolute;
                background: black;
                opacity: .85;
                right: 0;
                bottom: 0;
                margin: 4px;
                padding: 4px 8px;
                color: $white;
            }
        }
        section {
            flex: 1;
            h3 {
                font-weight: bold;
            }
            span {
                color: $lightgrey;
                display: block;
                margin-top: 8px;
            }
        }
    }
    .suggestion {
        .next {
            border-bottom: none;
            margin-top: 8px;
        }
    }
}