body {
    height: 100%;
    overflow: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media only screen and (min-width: $xs) {
        width: 768px;
    }

    @media only screen and (min-width: $sm) {
        width: 980px;
    }

    @media only screen and (min-width: $md) {
        width: 1280px;
    }
}  


.avatar {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}